name: panda-market

services:
  db:
    image: postgres:16-alpine
    container_name: panda-market-db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - panda-network
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    container_name: panda-market-api
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NODE_VERSION: 20
    image: suminone/panda-market-api:latest
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "3000:3000"
    env_file:
      - .env
    networks:
      - panda-network
    volumes:
      - upload-data:/app/public
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:3000/ || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3

volumes:
  db-data:
  upload-data:

networks:
  panda-network:
    driver: bridge
